ul{
    list-style:none;
  }
  ul>li>span{
    display:inline-block;
    width:80%;
  }
  ul>li>a{
    display:inline-block;
    width:80%;
  }
  
  main{
    width:70%;
  }
  aside{
    width: 30%;
    position:fixed;
    right:0;
    top:38.5%;
  }